<% provide(:title, 'Pages') %>
<h1>Pages</h1>

<ul class="pages">
	<%= render @pages %>
</ul>
	<% if current_user.admin? %>
		<%= link_to 'New', new_page_path(@pages), class: 'btn btn-primary' %>
	<% end %>